frontend kubernetes-frontend
    bind {{ hostvars[inventory_hostname]['ansible_host'] }}:6443
    mode tcp
    option tcplog
    default_backend kubernetes-backend

backend kubernetes-backend
    mode tcp
    option tcp-check
    balance roundrobin
{% for item in groups['k8s-master-primary'] %}
    server {{item}} {{ hostvars[item].ansible_host }}:6443 check fall 3 rise 2
{% endfor %}
{% for item in groups['k8s-master-replicas'] %}
    server {{item}} {{ hostvars[item].ansible_host }}:6443 check fall 3 rise 2
{% endfor %}
